{% load static %}
{% load cart_template_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I-Store KE</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <section id="header">
        <a href="{% url 'home' %}"><img class="logo" src="{% static '/images/Logo1.png' %}"></a>

        <div>
            <ul id="navbar">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'shop' %}">Shop</a></li>
                <li><a href="{% url 'blog' %}">Blog</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contacts</a></li>
                {% if user.is_authenticated %}
                    <li><a href="#">Checkout</a></li>
                    <li><a href="{% url 'cart' %}" class="active">
                        <span>{{request.user|cart_item_count}}</span>
                        <i class="fa fa-shopping-bag"></i>
                    </a></li>
                {% endif %}
                <li id="dropdown"><a href=""><i class="fa fa-user"></i><i class="fa fa-chevron-down"></i></a>
                    <div class="dropdown-menu">
                        {% if user.is_authenticated %}
                        {% else %}
                        <a href="{% url 'login' %}">Login</a>
                        <a href="{% url 'register' %}">Register</a>
                        {% endif %}
                        {% if user.is_authenticated %}
                            <a href="">Refund</a>
                            <a href="{% url 'logout' %}">LogOut</a>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>

    </section>

    <section id="messages">
        {% for message in messages %}
            <h3>{{message}}</h3>
            <a href=""><i class="fa fa-times"></i></a>
        {% endfor %}        
    </section>

    <section id="page-header" class="cart-header">
        <h2>#Enjoy Free Shipping</h2>
        <p>Save that shipping</p>
    </section>

    <section id="cart" class="section-p1">
        <table width="100%">
            <thead>
                <tr>
                    <td>No.</td>
                    <td>Image</td>
                    <td>Name</td>
                    <td>Price</td>
                    <td>Quantity</td>
                    <td>Subtotal</td>
                    <td>Remove</td>
                </tr>
            </thead>
            <tbody>
                {% for cart_item in object.items.all %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><img src="{{cart_item.item.image.url}}"></td>
                    <td>{{cart_item.item.title}}</td>
                    <td>{% if cart_item.item.old_price %}
                        Ksh {{cart_item.item.new_price}}
                        <span>Save({{cart_item.item.get_amount_saved}})</span>
                        {% else %}
                        Ksh {{cart_item.item.new_price}}
                        {% endif %}
                    </td>
                    <td id="quantity">
                        <a href="{{cart_item.item.remove_single_from_cart}}"><i class="fa fa-minus"></i></a>
                            {{cart_item.quantity}}
                        <a href="{{cart_item.item.add_single_to_cart}}"><i class="fa fa-plus"></i></a>
                    </td>
                    <td>Ksh {{cart_item.get_subtotal}}</td>
                    <td><a href="{{cart_item.item.remove_from_cart}}"><i class="fa fa-trash"></i></a></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7">Your Cart is empty</td>
                </tr>
                <tr>
                    <td colspan="7">
                        <a href="{% url 'shop' %}"><button class="normal empty" >Start Shopping </button></a>
                    </td>
                </tr>
             {% endfor %}
            </tbody>
        </table>
    </section>

    <section id="cart-add" class="section-p1">
        <div id="coupon">
            <h3>Apply Coupon</h3>
            <div>
                <input type="text" placeholder="Enter Your Coupon">
                <button class="normal">Apply</button>
            </div>
        </div>

        <div id="subtotal">
            <h3>Cart Subtotal</h3>
            <table>
                <tr>
                    <td>Cart Subtotal</td>
                    <td>Ksh {{object.get_total}}</td>
                </tr>
                <tr>
                    <td>Shipping</td>
                    <td>
                        {% if object.shipping_fee == 0 %}
                        Free 
                        {% else %}
                        Ksh {{object.shipping_fee}}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><Strong>Total</Strong></td>
                    <td><Strong>Ksh {{object.total_plus_shipping}}</Strong></td>
                </tr>
            </table>
            <button class="normal">Proceed to  Checkout</button>
            <a href="{% url 'shop' %}"><button class="normal empty" style="background:  #FF4500;">Continue Shopping </button></a>
        </div>
    </section>

    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="{% static '/images/Logo1.png' %}">
            <h4>Contacts</h4>
            <p><strong>Address: </strong>42, Nairobi-Luthuri Street</p>
            <p><strong>Phone: </strong>+254 7 16 562 871/+254 7 16 562 872</p>
            <p><strong>Hours: </strong>10:00-18:00, Mon - Sat</p>
            <div class="follow">
                <h4>Follow Us</h4>
                <div class="icon">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-instagram"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-linkedin"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <h4>About</h4>
            <a href="#">About Us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Private Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
        </div>
     
        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In </a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Order</a>
            <a href="#">Help</a>
        </div>

        <div class="col install">
            <h4>Install App</h4>
            <p>From App store or Google Play</p>
            <div class="row">
                <img src="{% static '/images/googleplay.png' %}">
                <img src="{% static '/images/gooleapp.png' %}">
            </div>
            <p>Secure Payment Gateways</p>
            <img src="{% static '/images/gateway.JPG' %}">
        </div>

        <div class="copyright">
            <p>© 2024. Vickeey etc - HTML CSS Ecommerce Template</p>
        </div>
    </footer>
</body>
</html>