{% load static %}
{% load cart_template_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I-Store KE</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <section id="header">
        <a href="{% url 'home' %}"><img class="logo" src="{% static '/images/Logo1.png' %}"></a>

        <div>
            <ul id="navbar">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'shop' %}">Shop</a></li>
                <li><a href="{% url 'blog' %}">Blog</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a class="active" href="{% url 'contact' %}">Contacts</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'checkout' %}">Checkout</a></li>
                    <li><a href="{% url 'cart' %}">
                        <span>{{request.user|cart_item_count}}</span>
                        <i class="fa fa-shopping-bag"></i>
                    </a></li>
                {% endif %}
                <li id="dropdown"><a href=""><i class="fa fa-user"></i><i class="fa fa-chevron-down"></i></a>
                    <div class="dropdown-menu">
                        {% if user.is_authenticated %}
                        {% else %}
                        <a href="{% url 'login' %}">Login</a>
                        <a href="{% url 'register' %}">Register</a>
                        {% endif %}
                        {% if user.is_authenticated %}
                            <a href="{% url 'refund' %}">Refund</a>
                            <a href="{% url 'logout' %}">LogOut</a>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>

    </section>

    <section id="page-header" class="contact-header">
        <h2>#Lets talk..</h2>
        <p>LEAVE A MESSAGE HERE. We Love you</p>
    </section>

    <section id="contact-details" class="section-p1">
        <div class="details">
            <span>GET IN TOURCH</span>
            <h2>Visit one of our agencies or contact us today to get some of our</h2>
            <h3>Head Office</h3>
            <div>
                <li>
                    <i class="fa fa-map-marker"></i>
                    <p>123 Nairobi, Givanjee-Kenya</p>
                </li>
                <li>
                    <i class="fa fa-envelope-o"></i>
                    <p>victoranzeze50@gmail.com</p>
                </li>
                <li>
                    <i class="fa fa-phone"></i>
                    <p>+254 7 123 456 767, +255 7 134 456 78</p>
                </li>
                <li>
                    <i class="fa fa-clock-o"></i>
                    <p>Monday-Saturday, 9:00-16:00</p>
                </li>
            </div>
        </div>

        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7979.620229358484!2d34.
            72699078872067!3d0.11620317838624276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x17
            800e2c892894c9%3A0x3c0f61c5b5855d06!2sChavakali!5e0!3m2!1sen!2ske!4v1731317068314!5m2!1sen!2ske" 
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>

    <section id="form-details">
        <form action="">
            <span>LEAVE A MESSAGE</span>
            <h2>We love to hear from you</h2>
            <input type="text" placeholder="Your name">
            <input type="text" placeholder="E-mail">
            <input type="text" placeholder="Subject">
            <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
            <button class="normal">Submit</button>
        </form>

        <div class="people">
            <div>
                <img src="images/person1.jpg!d">
                <p><span>John Djoe</span>Senior Maketing Director <br> Phone: + 254 123 456 711
                <br> Email: contact@gmail.com</p>
            </div>

            <div>
                <img src="images/person2.jpg">
                <p><span>John Djoe</span>Senior Maketing Director <br> Phone: + 254 123 456 711
                <br> Email: contact@gmail.com</p>
            </div>

            <div>
                <img src="images/person1.jpg!d">
                <p><span>John Djoe</span>Senior Maketing Director <br> Phone: + 254 123 456 711
                <br> Email: contact@gmail.com</p>
            </div>
        </div>
    </section>

    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign Up for newsletter</h4>
            <p>Get Email updates about our latest shop and <span> special offers.</span></p>
        </div>
        <div class="form">
            <input type="text" placeholder="Enter Your email Address">
            <button class="normal">Sign Up</button>
        </div>
    </section>

    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="{% static '/images/Logo1.png' %}">
            <h4>Contacts</h4>
            <p><strong>Address: </strong>42, Nairobi-Luthuri Street</p>
            <p><strong>Phone: </strong>+254 7 16 562 871/+254 7 16 562 872</p>
            <p><strong>Hours: </strong>10:00-18:00, Mon - Sat</p>
            <div class="follow">
                <h4>Follow Us</h4>
                <div class="icon">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-instagram"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-linkedin"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <h4>About</h4>
            <a href="#">About Us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Private Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
        </div>
     
        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In </a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Order</a>
            <a href="#">Help</a>
        </div>

        <div class="col install">
            <h4>Install App</h4>
            <p>From App store or Google Play</p>
            <div class="row">
                <img src="{% static '/images/googleplay.png' %}">
                <img src="{% static '/images/gooleapp.png' %}">
            </div>
            <p>Secure Payment Gateways</p>
            <img src="{% static '/images/gateway.JPG' %}">
        </div>

        <div class="copyright">
            <p>© 2024. Vickeey etc - HTML CSS Ecommerce Template</p>
        </div>
    </footer>
</body>
</html>